html,
body {
  height: 100%;
  width: 100%;
  background: #ffffff;
  padding: 0;
  margin: 0;
  color: #333333;
  font-size: 62.5%;
  line-height: 100%;
  font-family: sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: inside;
}
p {
  margin: 0;
  padding: 10px 0;
}
strong {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  padding: 10px 0;
}
#page-wrap {
  width: 960px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
#body {
  padding: 20px;
}
/* ===== SLIDESHOW STYLES ===== **/
#slideshow {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 500px;
  border: 1px solid #e3e3e3;
  font-size: 1.6rem;
  line-height: 1.6rem;
}
#slideshow .slide-container {
  display: block;
  overflow: hidden;
  height: inherit;
}
#slideshow .slide {
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  -ms-transition: 0.3s linear all;
  transition: 0.3s linear all;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
}
#slideshow .active-slide {
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  -ms-transition: 0.3s linear all;
  transition: 0.3s linear all;
  z-index: 1000;
  opacity: 1;
}
#slideshow .indexes {
  position: absolute;
  right: 0;
  bottom: 30px;
  left: 0;
  z-index: 1500;
  margin: 0 auto;
  text-align: center;
}
#slideshow .indexes .index-button {
  display: inline-block;
  margin: 0 3px;
  width: 18px;
  cursor: pointer;
  height: 18px;
  border: 0;
  font-size: 0;
  border-radius: 15px;
  background: #e3e3e3;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  -ms-transition: 0.3s linear all;
  transition: 0.3s linear all;
}
#slideshow .indexes .active-index {
  background: #ff9900;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  -ms-transition: 0.3s linear all;
  transition: 0.3s linear all;
}
#slideshow .controls button {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1500;
  margin: auto;
  width: 50px;
  height: 50%;
  border: 0;
  background: #e3e3e3;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  -ms-transition: 0.3s linear all;
  transition: 0.3s linear all;
}
#slideshow .controls button:hover {
  background: #ff9900;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  -ms-transition: 0.3s linear all;
  transition: 0.3s linear all;
}
#slideshow .prev {
  left: -50px;
}
#slideshow .next {
  right: -50px;
}
.no-js #slideshow > li,
.no-js #slideshow > div {
  display: none;
  height: 100%;
}
.no-js #slideshow > li:first-child,
.no-js #slideshow > div:first-child {
  display: block;
}
